* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.header {
    padding: 5px;
    margin: 20px;
    text-align: right;
    font-family: "Phenix American";
    font-weight: bold;
    font-size: 5em;
    color: #ffffff
    /* border: 3px solid blue; */
}

input {
    border-style: hidden;
}
#note-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;

    /* border: 3px solid pink; */
}

:placeholder-shown {
    outline: none;
}
::placeholder {
    color: #808080;
    text-align: center;
}


.titleField {
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

#inputTitle {
    color: #ffffff;
}

.inputField {
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}
#inputBody {
    color: #ffffff;
}

.submitButton {
    text-align: center;
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
    width: 250px;
}
#submit {
    color: #ffffff;
    text-align: center;
}

#note-list {
    display:flex;
    flex-direction: column-reverse;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
}


/* edit-text, update-note, cancel-note */

